.smooth-enter-active {
  transition: all 0.75s ease-out;
}

.smooth-leave-active {
  transition: all 0.5s cubic-bezier(1, 0.5, 0.8, 1);
}

.smooth-enter-from {
  transform: translate(-100%);
  opacity: 0;
}
.smooth-leave-to {
  transform: translate(100%);
}
