@tailwind base;
@tailwind components;
@tailwind utilities;

*::-webkit-scrollbar {
    display: none;
}

* {
    -ms-overflow-style: none;
    scrollbar-width: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding: 10px 15px;
    min-height: 100dvh;
    width: 100%;
    max-width: 410px;
    margin: 0px auto;
}